/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/****end reset*****/
body{
 	font-family:Arial, Helvetica, sans-serif;
}
.wrap{
	width:80%;
	margin:0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
/*----start-header-----*/
.header{
	background:#696969;
	border-bottom:2px solid #A9A9A9; 
}
.logo{
	float: left;
	padding:25px 0;
}
.top-nav{
	float:center;
	margin-left:400px;
}
.top-nav ul li{
	display:inline-block;
	float:left;
}
.top-nav ul li a{
	font-family: 'Roboto', sans-serif;
	color: #E6E6FA  ;
	padding: 40px 25px;
	display: block;
	position: relative;
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	font-size: 0.875em;
	position:relative;
	
}
.top-nav li.active a, .top-nav li a:hover {
	color:#FFF;
	background:#009175   ;
}
/*---start-content----*/
.content {
}
.content_top{
	background:#A9A9A9;
	padding:50px 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	position:relative;
}
.content_top:after{
	content: '';
	position:relative;
	width: 0;
	height: 0;
	border:20px solid #FFF;
	border-top: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:0%;
	top: 30px;
	margin-left: -10px;
}
.content_top h1 a{
	font-size:3em;
	color: #fff;
	padding-bottom:14px;
}
.content_top span a{
	font-family: 'Roboto', sans-serif;
	color:#ffffff;
	background-color:#009175;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size:1em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.content_top span a:hover{
	background:#222;
}
.content_top p{
	font-size:1em;
	line-height: 1.8em;
	color: #fff;
	margin-bottom: 24px;
	margin: 14px 0px 24px 0px;
}
.content-grids {
	padding:50px 0;
	background:#FFF;
}
.grid{
	float: left;
	width: 29%;
	background: #fff;
	border: 1px solid #EBEBEB;
	padding: 19px 18px 25px;
	color: #7e7e7e;
	text-align: center;
	margin-right: 2%;
	-webkit-box-shadow: 0px 56px 36px -60px #121D12;
	-moz-box-shadow: 0px 56px 36px -60px #121D12;
	-o-box-shadow: 0px 56px 36px -60px #121D12;
}
.grid h3{
	text-transform: uppercase;
	padding: 8px 0;
	margin-bottom: 8px;
	font-size: 1.6em;
	color:#8B0000 ;
	border-bottom: 1px solid #dedede;
	font-family: 'PT Sans Narrow', sans-serif;
}
.grid p{
	font-size: 0.875em;
	color: rgba(148, 145, 145, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.5em;
}
.button{
	font-family: 'Roboto', sans-serif;
	color: #696969 ;
	background-color:#DCDCDC  ;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 30px;
	font-size: 0.875em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.button:hover{
	background-color: #696969;
	color: #E6E6FA;
}
.last-grid{
	margin:0px;
}
/*-----specials-heading----*/
.specials{
	background:#A9A9A9 ;
	padding:50px 0;
	position:relative;
}
.specials:after{
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border:20px solid #FFF;
	border-bottom: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:50%;
	top:0px;
	margin-left: -10px;
}
.specials-heading h3{
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	color:#ffffff;
	text-align: center;
	text-transform: uppercase;
	background:url(../images/bg-h2.png) repeat-x center;
}
/*----special-grid------*/
.special-grid {
	float: left;
	width: 32%;
	margin-right: 2%;
	text-align: center;
}
.special-grid img{
	width:100%;
}
.special-grid a{
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	color:#ffffff;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	padding: 0.3em 0;
	display: block;
}
.special-grid a:hover{
	color: #696969 ;
}
.special-grid p{
	font-size: 0.875em;
	color: rgba(148, 145, 145, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	color:#ffffff;
	padding: 0em 1em 1em 1em;
	line-height: 1.5em;
}
.spe-grid{
	margin: 0px;
}
.specials-grids {
	padding: 50px 0;
}
/*----start-testmonial-grid----*/
.testmonials{
	text-align:center;
	background:#FFF;
	padding:50px 0;
}
.testmonial-grid h3{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	color:#323A45;
	text-align: center;
	text-transform: uppercase;
	padding: 0.5em 0 0.5em 0;
}
.testmonial-grid p{
	font-size: 0.875em;
	color:#009175;
	font-family: Arial, Helvetica, sans-serif;
	padding:10px 0;
	margin:0 auto;
	width:80%;
	line-height: 1.8em;
}
.testmonial-grid a{
	font-size: 0.875em;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	color:#009175 ;
}
.testmonial-grid a:hover{
	color: #696969 ;
}
/*---start-footer-----*/
.footer{
	background:#001e33;
	padding: 50px 0;
	position:relative;
}
.footer:after{
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border:20px solid #001e33;
	border-top: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:50%;
	top:-20px;
	margin-left: -10px;
}
.footer-grid{
	float:left;
	width:23%;
	margin-right:2%;
}
.footer-grid h3{
	font-size: 1.5em;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}
.footer-grid p{
	font-size: 0.875em;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8em;
}
.footer-grid ul li a{
	display:block;
	padding:10px 0px;
	border-bottom: 1px solid #5AC5B1;
	font-size: 0.875em;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform:uppercase;
}
.footer-grid ul li a:hover{
	color:#76b300;
}
.footer-lastgrid{
	margin:0;
}
.email-link{
	color:#FFF;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform:lowercase;
}
.email-link:hover{
	color:#FFF;
}
/*---start-copy-right-----*/
.copy-right{
	text-align:center;
	padding:1em;
	background:#A9A9A9;
}
.copy-right p{
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.copy-right p a{
	color: rgba(148, 145, 145, 0.84);
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color:#FFFAF0 ;
}
.copy-right p a:hover{
	color:#696969  ;
}
/*---about-us----*/
.about-us {
	padding: 50px 0;
}
.about-header h5{
	float: left;
	width: 30%;
	height: 1px;
	background: #D1D1D1;
	margin: 24px 0px 0px 0px;
}
.about-header h3{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	color: #012231;
	text-align: center;
	text-transform: uppercase;
	background:url(../images/bg-h2.png) repeat-x center;
}
.about-info a{
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	color:#009175;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	padding: 1em 0 0.5em 0;
	display: block;
}
.about-info p{
	font-size: 0.875em;
	color: rgba(85, 81, 81, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8em;
}
/*---start-services----*/
.services {
	padding: 50px 0;
}
.services-header h5{
	float: left;
	width: 40%;
	height: 1px;
	background: #D1D1D1;
	margin: 24px 0px 0px 0px;
}
.services-header h3{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	color: #012231;
	text-align: center;
	text-transform: uppercase;
	padding: 0 0 0.5em 0;
	background:url(../images/bg-h2.png) repeat-x center;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.listview_1_of_2{
	display: block;
	float:left;
	margin: 0% 0 4% 0%;
}
.grid2{
	border-top: 1px solid rgba(192, 192, 192, 0.39);
}
.listimg{
	display: block;
	float:left;
}
.text{
	display: block;
	float:left;
	margin: 0% 0 0% 3.6%;
}
.listview_1_of_2:first-child { margin-left: 0;} 

.images_1_of_2 {
	width: 46.96%;
	padding:1.5%; 
}
.listimg_2_of_1 {
	width: 18.2%;
}
.list_2_of_1 {
	width: 70.2%;
}
.images_1_of_2  img {
	max-width:100%;
	display:block;
	padding-top: 25px;
}
.list_2_of_1  h3{
	font-family: 'Roboto', sans-serif;
	font-size:1.6em;
	color: #626262;
	text-transform:uppercase;
	text-align: left;
}
.list_2_of_1 h3 span{
	color:#00B895;
}
.list_2_of_1  p{
	font-size:0.85em;
	color:#949191;
	line-height:1.8em;
	margin: 0px 0px 16px 0px;
	font-family:Arial, Helvetica, sans-serif;
}
.list_2_of_1 h4{
	color:#A8A8A8;
	font-size:1.2em;
	font-family:Arial, Helvetica, sans-serif;
	padding: 5px 0px;
}
/*---plans-404page-----*/
.error-page{
	text-align:center;
}
.error-page p{
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	color: #012231;
	text-shadow: -2px 3px 4px #9B9B9B;
}
.error-page h3{
	font-family: 'Roboto', sans-serif;
	font-size: 10em;
	color:#00B895;
	text-shadow: -2px 3px 4px #9B9B9B;
}
.error-page {
	padding: 200px 0px 0 0;
	min-height: 450px;
}
/*---start-contact----*/
/*  Contact Form  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	padding: 0.5em 0;
	color: #012231;
	text-transform: uppercase;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	padding-bottom:5px;
	color: #012231;
	text-transform: uppercase;
}
.contact-form input[type="text"],.contact-form textarea{
		   padding: 8px;
			display: block;
			width: 98%;
			border: none;
			outline: none;
			color: #464646;
			font-size: 0.8125em;
			font-family: Arial, Helvetica, sans-serif;
			border: 1px solid rgba(85, 85, 85, 0.19);
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.mybutton{
	font-family: 'Roboto', sans-serif;
	background: #012231;
	color: #d6d6d6;
	padding: 15px 40px;
	font-size: 0.875em;
	text-transform: uppercase;
	display: block;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	cursor:pointer;
	border:none;
}
.mybutton:hover{
	background: #00B895;
	color: #FFF;
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size: 0.875em;
	color: rgba(85, 81, 81, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8em;
}
.company_address p span{
	text-decoration:underline;
	color:#012231;
	cursor:pointer;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.company_address p span:hover{
	color:#00B895;
}
/*----responsive-design-----*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:90%;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:90%;
	}
}
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
	.grid{
		width:27.8%;
	}
}
@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.top-nav ul li a{
		padding:40px 15px;
	}
	.grid{
		width:26.8%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.footer{
		padding:0;
	}
	.footer-grid h3{
		margin-bottom:5px;
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
	.top-nav ul li a{
		padding:41px 5px;
		font-size:0.75em;
	}
	.grid{
		float:none;
		width:94%;
		padding:3%;
		margin:15px 0;
	}	
	.content_top{
		padding:10px 0;
	}
	.content_top:after{
		top:-10px;
	}
	.special-grid{
		float:none;
		width:94%;
		padding:3%;
		margin-right:0;
	}	
	.specials{
		padding:30px 0 0 0;
	}
	.specials-grids{
		padding:10px 0;
	}
	.testmonials{
		padding:0 0 30px 0;
	}
	.footer-grid{
		float:none;
		width:94%;
		padding:3%;
		margin-right:0;
	}
	.services{
		padding:20px 0;
	}
	.images_1_of_2{
		width:94%;
		padding:3%; 
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.list_2_of_1{
	  width:78.2%;	
	}
	.error-page{
		padding:20px 0;
		min-height:0;
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.logo{
		float:none;
		text-align:center;
		padding:5px 0;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.top-nav{
		float:none;
		text-align:center;
	}	
	.top-nav ul li{
		float:none;
	}
	.top-nav ul li a{
		padding:15px 20px;
	}
	.content-grids,.about-us{
		padding:20px 0;
	}
	.testmonial-grid p{
		width:100%;
	}
	.error-page p{
		font-size:2em;
	}
	.error-page h3{
		font-size:6em;
	}
	.col { 
		margin:0;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
@media only screen and (max-width: 320px) {
	.wrap{
		width:95%;
	}
	.top-nav ul li a{
		padding:15px 4px;
	}
	.content_top p{
		font-size:0.8em;
		line-height:1.6em;
		margin:5px 0 25px 0;
	}
	.specials-heading h3{
		font-size:1.5em;
	}
	.special-grid p{
		padding:0;
	}
	.testmonial-grid h3{
		font-size:1.5em;
		padding:5px 0;
	}
	.testmonial-grid p{
		padding:0;
	}
	.about-info a{
		font-size:0.8em;
	}
	.list_2_of_1 h3{
		font-size:1.3em;
	}
}
		